<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:component-scan base-package="test.bean" />

	<bean id="dto" class="test.bean.DTO">
		<constructor-arg type="java.lang.String" value="java" />
		<constructor-arg ref="date" />
	</bean>
	<bean id="date" class="java.util.Date" />

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="/WEB-INF/sqlMapConfig.xml" />

	</bean>
	<bean id="SqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient" ref="sqlMapClient" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="dataSource" class="org.apache.tomcat.dbcp.dbcp.BasicDataSource"
		destroy-method="close" p:driverClassName="oracle.jdbc.driver.OracleDriver"
		p:url="jdbc:oracle:thin:@khmaster.iptime.org:7000:orcl" p:username="web19"
		p:password="web19" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"><!-- likes buffer -->
		<property name="maxUploadSize" value="-1" /> <!-- -1 mean no Limit -->
		<property name="defaultEncoding" value="euc-kr" />
	</bean>
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <property name="prefix" value ="/12_22/" /> address add -->
		<!-- <property name="subffix" value=".jsp" /> address skip -->
		<property name="order" value="1" />
	</bean>
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="0" />

	</bean>
	<bean id="download" class="test.bean.DownloadView" />




</beans>